header{
    text-align:center;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(74, 180, 180);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: orangered;
}

.active{
    background-color: orangered;
}

#logo_ab{
    float: center;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 0px;
}

#logo_fb{
    float: left;
    width: 50px;
}

footer{
    background-color: #333;
    padding: 10px;
    color: white;
    bottom: 0px;
}

.facebook{
    padding-left: 100px;
}

.sousfacebook{
    padding-left: 75px;
}

.mail{
    color: white;
    text-align: right;
}

.lien_mail{
    color: white;
}

.telephone{
    text-align: right;
    padding-right: 100px;
}

body{
    background-image: url(image/logo_backnoir_ab.jpg);
    background-repeat: repeat;
}

p.size{
    font-size: x-large;
}